* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
}
.app-body {
	background-color: #000000;
}
.app-main {
	margin-top: 30px;
}

.app-header .navbar {
	/* position: fixed; */
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 8%;
	background: #000000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.navbar-nav {
	margin-left: auto;
}
.logo {
	font-size:  2rem;
	font-weight: 800;
	margin-right: auto;
	color: #333333;
	transition: 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
	cursor: pointer;
	
}
.logo:hover {
	text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	color: #cccccc;
	transition: 0.3s ease;
}
.nav-item {
	font-size:  1rem;
	color: black;
	text-transform: uppercase;
	transition: 0.3s ease;
	text-decoration: none;
	cursor: pointer;
}
/*.card-layer:hover {
	box-shadow: 0 0.5rem 1rem rgba(255, 255, 255) !important;
	transition: 0.3s ease;
}*/
@media screen and (max-width: 600px)  {
  	.logo {
		font-size:  1.8rem;
  	}

}
i {
	font-size: 1.5rem;
}
.footer {
	margin: auto;
	padding: 20px 10%;
}
.img {
    max-width: 700px;
    width: 100%;
    height: auto;
    filter: drop-shadow(8px 8px 10px rgba(255, 255, 255, 0.993));
}
.img-wrap {
	border-radius: 999px;
  	display: block;
  	width: calc(100vw - 80px);
  	max-width: 500px;
  	height: auto;
	filter: contrast(150%);
	/* filter: drop-shadow(8px 8px 16px rgba(255, 255, 255, 0.993)); */
}
.home {
	width: 100%;
	height: auto;
	background: url(img/code.jpg) no-repeat center;

}
.h1-home {
	margin: 0;
	font-size: 8rem;
	color: #F1F1F1;
	font-family: "Bakbak One", serif;
  	font-style: normal;
	text-transform: uppercase;
	text-shadow: 4px 6px 2px rgba(43, 43, 43);
}
.h2-home {
	margin-top: -20px ;
	font-size: 5rem;
	color: #F1F1F1;
	font-family: "Bakbak One", serif;
  	font-style: normal;
	text-transform: uppercase;
	text-shadow: 4px 6px 2px rgba(43, 43, 43);
}
.p-text-home {
	margin-top: -10px;
	color: #666666;
	font-size: 1rem;
}
@media screen and (max-width: 600px) {
	.home-1 {
		font-size:  6rem;
		margin-bottom: -190px;
	}
	.home-2 {
		font-size:  5rem;
		position: relative;
		display: flex;
	}
	.h2-home {
		font-size:  2rem;
	}
	.p-text-home {
		font-size: 1rem;
		margin-top: 10px;
	}

}
@media screen and (max-width: 320px) {
	.home-1 {
		font-size:  6rem;
		margin-bottom: -190px;
	}
	.home-2 {
		font-size:  5rem;
		position: relative;
		display: flex;
	}
	.h2-home {
		font-size:  1.6rem;
	}
	.p-text-home {
		font-size: 14px;
		margin-top: 10px;
		height: auto;
		text-align: center;
	}

}
.h1-about {
	font-size: 6rem;
	color: #F1F1F1;
	font-family: "Bakbak One", serif;
  	font-style: normal;
	text-transform: uppercase;
	text-shadow: 4px 6px 2px rgba(43, 43, 43);
}
@media screen and (max-width: 600px) {
	.h1-about {
		font-size: 4rem;
		text-align: center;
	}
	.footer p {
		text-align: center;
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 320px) {
	.h1-about {
		font-size: 3rem;
		text-align: center;
	}
}
.h1-skills, .h1-project, .h1-contact {
	font-size: 4rem;
	color: #F1F1F1;
	font-family: "Bakbak One", serif;
  	font-style: normal;
	text-transform: uppercase;
	text-shadow: 4px 6px 2px rgba(43, 43, 43);
}
/*.p-skills:before,
.p-skills:after {
	content: "";
 	width: 100px;
  	height: 2px;
  	background: #333333;
  	display: inline-block;
}
.p-skills:before {
	margin: 0 15px 10px 0;
}
.p-skills:after {
	margin: 0 0 10px 15px;
}

.p-project:before,
.p-project:after {
	content: "";
 	width: 100px;
  	height: 2px;
  	background: #333333;
  	display: inline-block;
}
.p-project:before {
	margin: 0 15px 10px 0;
}
.p-project:after {
	margin: 0 0 10px 15px;
}*/
@media screen and (max-width: 600px) {
	.h1-skills, .h1-project, .h1-contact {
		font-size: 4rem;
		text-align: center;
	}
}
@media screen and (max-width: 320px) {
	.h1-skills, .h1-project, .h1-contact {
		font-size: 3rem;
		text-align: center;
	}
	.p-text {
		font-size: 0.3rem;
	} 
}
.p-text {
	color: #666666;
	font-size: 1rem;
}
.skills {
	border-radius: 5px;
	border: solid 1px #333333;
	padding: 10px 0 5px 0;
	text-align: center;
	text-transform: uppercase;
	color: #666666;
	/* box-shadow: 10px 10px 0px 0px rgba(43, 43, 43);
	-webkit-box-shadow: 10px 10px 0px 0px rgba(43, 43, 43);
	-moz-box-shadow: 10px 10px 0px 0px rgba(43, 43, 43); */
}
h6.html {
	color: #e34c26;
}
h6.css {
	color: #264de4;
}
h6.javascript {
	color: #f0db4f;
}
h6.jquery {
	color: #0769ad;
}
h6.php {
	color: #8993be;
}
h6.sql {
	color: #34445a;
}
h6.mysql {
	color: #c74835;
}
h6.git {
	color: #f34f29;
}
h6.github {
	color: #7f7f7f;
}
h6.bootstrap {
	color: #3f7c8c;
}

.h5-skills {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 1rem;
	padding: 20px 0 10px 0;
	/* border-bottom: solid 1px #333333; */
  	text-shadow: 1px 1px #ffffff;
}

ul .li-skills {
	padding: 10px 0 10px 0;
	color: #666666;
	border: solid 1px #333333;
}
/*.bg-skills {
	background-image: url(img/skills.png);
	background-repeat: no repeat;
	background-size: cover;
	background-position: center;
}*/
.card-layer {
	max-width: 200px;
	width: 100%;
	height: auto;
	box-shadow: 2px 2px 4px #6e749b33,
				#fff 8px 8px 0px -2px,
				#6e749b40 8px 8px 4px -2px,
				#fff 14px 14px 0px -2px,
				#6e749b40 14px 14px 4px -2px,
				#fff 20px 20px 0px -2px,
				#6e749b40 20px 20px 4px -2px;
}
.soc-med a {
	padding: 10px 30px;
	font-size: 2rem;
	color: #666666;
	
}
.soc-med a i {
	font-size: 2rem;

}
@media screen and (max-width: 600px) {
	.soc-med a i {
		font-size: 1.5rem;
	
	}
}
@media screen and (max-width: 320px) {
	.soc-med a i {
		font-size: 1rem;
		padding: 5px 3px;
	
	}
}
a .fa-whatsapp:hover {
	color: #25d366;
}
a .fa-facebook:hover {
	color: #1877F2;
}
a .fa-linkedin:hover {
	color: #0077B5;
}
a .fa-google:hover {
	color: #EA4335;
}